<!DOCTYPE html>
<html>
<head>
  <title>Best Bay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id ="welcome">
      <% if user_signed_in? %>
          <h2> Welcome back <%=current_user.email%>! </h2>
      <% end %>
    </div>

    <%= render :partial => 'application/searchPanel', :locals => { :products => @products } %>

</body>
</html>
