<div id ="navigationTab">
     <table class="leftTable">
       <tr class="hoverstate" onclick="location.href='<%= root_path %>'"><td id="Homepage">Homepage</td></tr>
       <tr class="title"><td>BUY</td></tr>
       <tr class="hoverstate" onclick="location.href='<%= user_my_bids_path %>'"><td id="MyBids">My Bids</td></tr>
       <tr class="title"><td>WATCHLIST</td></tr>
       <tr class="hoverstate" onclick="location.href='<%= watch_list_path %>'"><td id="ViewList">View List</td></tr>
       <tr class="title"><td>SELL</td></tr>
       <tr class="hoverstate" onclick="location.href='<%= new_product_path %>'"><td id="SellProduct">Sell a Product</td></tr>
       <tr class="hoverstate" onclick="location.href='<%= user_active_products_path %>'"><td id="MyProducts">My Products</td></tr>
     </table>
</div>