<div id="forms">
  <h1>Enter information about your new item: </h1>
  <div id="post_item_form">
    <%= form_for(@product, html: {multipart: true} ) do |f| %>

        <% if @product.errors.any? %>
            <div id="error_explanation">
              <h3><%= pluralize(@product.errors.count, "error") %> prohibited this product from being posted:</h3>
              <ul>
                <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div id="left_form">

          <%= f.label :title %>
          <%= f.text_field :title %><br>

          <%= f.label :keywords %>
          <%= f.text_field :keywords %><br>

          <%= f.label :condition %>
          <%= f.text_field :condition %><br>

          <%= f.label :detail %>
          <%= f.text_area :detail %><br>

          <%= f.label :price %>
          <%= f.number_field :price %><br>

        </div>

        <div id="right_form">

          <%= f.label :deadline %>
          <%= f.datetime_select :deadline %><br>

          <%= f.label :uploaded_picture %>
          <%= f.file_field :uploaded_picture %><br>


          <%= f.submit "Post Item", :class => "post_item_button" %>


        </div>

        </div>


    <% end %>
    </div>